<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <title>Document</title>
</head>
    <body>
        <div id="main_container">
            <div id="header">
                <div id="header_left">
    
                </div>
                <div id="header_middle">
                    TITEL STEHT HIER
                </div>
                <div id="header_right">
    
                </div>
            </div>
            
            <div id="writer_container">
                <div class="writer_sibling right">
                    
                </div>
                <div id="writer_main">
                    <div class="page">
    
                    </div>
                    <div class="page">

                    </div>
                </div>
                <div class="writer_sibling right">
    
                </div>
            </div>
            <div id="footer">
    
            </div>
        </div>
    </body>
</html>