<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <title>Document</title>
</head>
    <body>
        <div id="header">
            <div id="header_left">

            </div>
            <div id="header_middle">
                TITEL STEHT HIER
            </div>
            <div id="header_right">

            </div>
        </div>
        
        <div id="writer_container">
            <div id="writer_left">
                
            </div>
            <div id="writer_main">

            </div>
            <div id="writer_right">

            </div>
        </div>
    </body>
</html>