<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <style>
        body { background-color: rgb(84, 115, 145);}
    </style>
    <link rel="stylesheet" href="{{ main_style }}">
    <link rel="stylesheet" href="{{ editor_style }}" id="editor_style">
    <title>Document</title>
    <script src="{{ editor_js }}"></script>
</head>
    <body>
        <div id="main_container">
            <div id="header">
                <div id="header_left">
    
                </div>
                <div id="header_middle">
                    TITEL STEHT HIER
                </div>
                <div id="header_right">
    
                </div>
            </div>
            
            <div id="writer_container">
                <div class="writer_sibling left">
                    
                </div>
                <div id="writer_main">
                    <slugline-editor></slugline-editor>
                </div>
                <div class="writer_sibling right">
    
                </div>
            </div>
            <div id="footer">
    
            </div>
        </div>
    </body>
</html>