slugline-page {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 1130px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px var(--shadow);
    display: block;
    padding: 20px;
}
slugline-editor {
    display: block;
}
slugline-cursor {
    display: block;
    background-color: darkgray;
    width: 2px;
    height: 12px;
}